body {
  padding-top: 0px;
}

.em-text{
  color:#FF0000 !important;
}

.name-text {
  color: #222222 !important;
}

 .jumbotron {
background: url(../img/bg2.jpg) no-repeat;
background-size: 100%;
background-position: center bottom;
  color: #fff;
  height: 500px;
}

.jumbotron h1 {
  margin-top: 60px;
}

.jumbotron h4 {
  text-align: right;
  text-shadow: 1px 1px #003;
  margin-top: 370px;
}

footer {
  background: #222222;
  text-color
}
