body {
  padding-top: 50px;
}

.em-text{
  color:#FF0000 !important;
}

.jumbotron {
  background: url(../img/background.jpg) no-repeat;
  color: #fff;
  height: 620px;
  overflow: none;
}

.jumbotron h1 {
  margin-top: 60px;
}

footer {
  background: #222222;
  text-color
}
